@import url(letter.scss);
.letter-anim{
    @include display-flex(flex);
    .before-space, .after-space{
        @include display-flex(flex);
        .letter{
            opacity: 0;
            transform: scale(0.9);
        }
    }
    .after-space{
        margin-left: 15px;
    }
}
.admin-main{
    @include animation(opacity 1s ease-in-out);
}