$black-color: #000000;
$heading-color:#323132;
$text-secondary: #323132;
$text-light: #9e9e9e;
$body-color:#757575;
$body-light: #bdbdbd;
$white-color:#ffffff;
$bg-color:#F4F4F4;
$grey-light:#F5F5F5;
$site-color-light: #201b3a;
$site-color-dark: #080325;
$site-color-grey: #A4B3B6;
$primary-color: #7c4cbb;
$primary-medium: #b2ddd0;
$primary-light: #e8f2ef;
$secondary-color:#d83f87;
$secondary-medium: #F57D66;
$secondary-light: rgba($secondary-color, .1);
$secondary-light-1: #FEF0ED;
$border-color:#e2e2e2;
$border-dark:#bdbdbd;
$orange-color:#FF9157;
$fb-color: #475993 ;
$green-light:#E5F7E6;
$blue-color:#23d0fd;
$blue-light:#d3f6ff;
$yellow-color:#f2c050;
$yellow-light: #fcf2dc;
$dark-blue: #3346d1;
$dark-blue-light: rgba($dark-blue, .1);
$red-color:#FF0000;
$red-light: rgba($red-color, .1);
$purple-color: #9336FF;
$purple-light: rgba($purple-color, .1); 
$orange-light:rgba($orange-color,.15);
$shadow-dark: #0000001A;
$shadow-light: #00000029;


