a.common-link,
  [class*=common-button] {
    -webkit-font-smoothing: antialiased;
    font-weight: 600;
    text-decoration: none;
    text-transform: initial;
    padding: .5rem .875rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    min-height: 35px;
    @include radius(10px);
    border: none;
    outline: none;
    line-height: inherit;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-appearance: none;
    overflow: hidden;
    vertical-align: middle;
    cursor: pointer;
     transition: all .3s ease-in-out;
    position: relative;
    @include transition(all .4s ease);
    &:focus {
        outline: none;
    }
    &:disabled {
        color: $white-color;
        background-color: $grey-light;
        border-color: 0;
        opacity: 0.65;
        cursor: not-allowed;
    }
    @media #{$breakpoint-md-desktop}{
        width: 140px;
         min-height: 30px;
         padding: .425rem .75rem;
    }
    &.is-lg{
        min-height: 50px;
        @media #{$breakpoint-md-desktop}{
            min-height: 34px;
        }
    }
    &.is-icon {
        img,
        svg,
        i {
            color: $white-color;
            transition: margin .5s ease-in-out;
            font-weight: 500;
            position: relative;
            &.is-mr{
                margin-right: .5rem;
            }
            &.is-ml{
                margin-left: 0.5rem;
            }
            @media #{$breakpoint-md-desktop}{
                &.is-mr{
                    margin-right: .25rem;
                }
                &.is-ml{
                    margin-left: 0.25rem;
                }
            }
        }
       
    }

    &.is-disable {
        color: white;
        background-color: rgb(196, 196, 196);
        border-color: rgb(196, 196, 196);
        cursor: none;
    }

    &.is-bg {
        color: $white-color;
        background-color: $secondary-color;
        border-color: $secondary-color;
        // @include box-shadow(0 10px 40px rgba($yellow-color, .25));
      
        &:disabled {
            color: $white-color;
            background-color: $grey-light;
            border-color: transparent;
            opacity: 0.65;
            cursor: not-allowed;
        }

        &.is-disable {
            color: $white-color;
            background-color: $grey-light;
            border-color: $grey-light;
        }


        &:hover {
            background-color: $secondary-medium;
            border-color: $secondary-medium;
        }

    }

    &.is-full-width {
        width: 100%;
    }

    &.is-clear {
        background-color: transparent;
        border-width: 0;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        color: $secondary-color;
        padding: 0;
        min-height: initial;
        min-width: initial;
        i{
            color: $secondary-color;
        }
        &:hover {
            color: $primary-color;
            i{
                color: $primary-color
            }
        }
    }

    &.is-border {
        background-color: $white-color;
        color: $secondary-color;
        border: 1px solid $border-color;
        &:hover {
            color: $white-color;
            background-color: $secondary-light;
        }
        &.is-icon{
            i{
                color: $body-color;
            }
        }
    }
    &.is-white-border{
        background: transparent;
        color: $white-color;
        border: 1px solid $white-color;
        position: relative;
        &::before{
            position: absolute;
            content: ' ';
            bottom: 0;
            left: 0;
            width: 100%;
            height: 0;
            @include transition(all .4s ease);
            z-index: -1;
        }
        &:hover {
            border: 1px solid $secondary-color;
            &::before{
                height:100%;
                border: 1px solid $secondary-color;
                background: $secondary-color;
            }
        }
    }
    &.no-border {
        background-color: transparent;
        color: $body-color;
        border-color: transparent;
        &:hover{
            color: $primary-color;
        }
    }

    &.is-sm{
        padding: .425rem .75rem;
        min-width: 120px;
        @media #{$breakpoint-md-desktop}{
            width: 125px;
            padding: .25rem .75rem;
        }
    }

    &.is-auto{
        width: auto;
        min-width: auto;
    }

    &.is-rounded{
        -webkit-border-radius: 20px;
        border-radius: 20px;
    }
    
    &.is-mid-rounded{
        -webkit-border-radius: 5px;
        border-radius: 5px;
    }
}

button.load-more-button,
a.load-more-button {
    @include display-flex(flex);
    @include display-flex(flex);
    @include justify-content-center;
    @include align-items-center;
    background-color: $bg-color;
    font-weight: 600;
    text-transform: capitalize;
    color: $heading-color;
    width: 100%;
    padding: .5rem 1rem;

    i {
        text-transform: initial;
        color: $primary-light;
        margin-left: .5rem;
    }
}

.buttons {
    @include display-flex(flex);
    button,
    a {
        &:not(:last-child) {
            margin-right: .75rem;
        }
    }

    &.is-center {
        @include display-flex(flex);
        @include justify-content-center;
        @include align-items-center;
    }

    &.is-between {
        @include display-flex(flex);
        @include justify-content-between;
        @include align-items-center;
    }

    &.is-end {
        @include display-flex(flex);
        @include justify-content-end;
        @include align-items-center;
    }
    &.section-buttons{
        margin-top: 30px;
        margin-bottom: 0;
    }
}

[class*=circle-icon] {
    width: 40px;
    height: 40px;
    @include display-flex(flex);
    @include justify-content-center;
    @include align-items-center;
    @include flex-direction-column(column);
    color: $body-color;
    @include radius(100%);
    min-height: 40px;
    cursor: pointer;
    @include transition(all .4s ease-in-out);

    &.is-bg {
        background-color: $secondary-light;
        color: $white-color;

        &:hover {
            background-color: $secondary-medium;
        }
    }

    &.is-border {
        border: 1px solid $secondary-color;
        color: $secondary-color;
    }

    &:not(:last-child) {
        margin-right: .6125rem;
    }
}

.circle-icons {
    @include display-flex(flex);
    @include align-items-center;

    &.is-start {
        @include justify-content-start;
    }

    &.is-end {
        @include justify-content-end;
    }

    &.is-center {
        @include justify-content-center;
    }

    &.is-vertical {
        @include justify-content-center;
        @include flex-direction-column(column);

        span,
        a {
            margin-right: 0;

            &:not(:last-child) {
                margin-bottom: .6125rem;
            }
        }
    }

}

[class*=square-icon] {
    width: 50px;
    height: 50px;
    @include display-flex(flex);
    @include justify-content-center;
    @include align-items-center;
    @include flex-direction-column(column);
    color: $body-color;
    @include radius(5px);
    cursor: pointer;
    @include transition(all .4s ease-in-out);

    &.is-blue {
        background-color: $blue-light;
    }

    &.is-red {
        background-color: $red-light;
    }

    &.is-green {
        background-color: $primary-light;
    }

    &.is-orange {
        background-color: $orange-light;
    }
}