input,textarea {

    &.form-control {
        display: block;
        width: 100%;
        height: calc(2.5em + 0.75rem + 2px);
        padding: 0.375rem 0.75rem;
        font-weight: 400;
        line-height: 1.5;
        background-color: $white-color;
        background-clip: padding-box;
        border: 1px solid $border-color;
       @include radius(10px);
        color: $body-color;
        cursor: pointer;
        @include transition(all .4s ease);
        @include input-placeholder {
            color: $body-light;
            // text-transform: capitalize;
        }
        @media #{$breakpoint-md-desktop}{
            height: calc(2.5em + 0.25rem + 0px);
        }
        &:focus {
            box-shadow: none;
            outline: none;
            -webkit-outline: none;
            border-color:$secondary-color;
            color: $heading-color;
        }

    }
    &.is-sm{
        height: calc(2.5em + 0.75rem + 0px);
        padding: 0.25rem 0.75rem;
        font-size: .725rem;
        @media #{$breakpoint-md-desktop}{
            height: calc(2.5em + 0.75rem + 0px);
            font-size: .685rem;
            @include input-placeholder {
                font-size: .685rem;
            }
        }
    }

}
input.form-search{
    & + i{
        position: absolute;
        color: $primary-color;
        left: 20px;
        top: 0px;
    }
}
select{
    &.select-picker{
        position: relative;
        width: 100%;
        -webkit-outline:none;
        outline: none;
        background: $bg-color;
        padding: 12px 15px;
        border: 1px solid transparent;
        color: $body-color;
        cursor: pointer;
        -webkit-appearance: none;
        -moz-appearance: none;
        -o-appearance: none;
        @include transition(all .3s ease);
        &:hover{
            background: darken($bg-color, 5%);
        }
        option{
            border-bottom: 1px solid $border-color;
        }
        &:focus{
            box-shadow: none;
            background: $white-color;
            border: 1px solid $primary-color;
            &+i{
                color: $primary-color;
                transform: rotate(-180deg);
            }
        }
        &+ i{
            color: $body-color;
            position: absolute;
            right: 20px;
            top: 15px;
            font-size: 25px;
            pointer-events: none;
        }
        @media #{$breakpoint-md-desktop}{
            padding: 4px 10px;
            font-size: .685rem;
            &+i{
                font-size: 18px;
                top: 8px;
            }
        }
    }
}

input[type="date"].form-control,
input[type="datetime-local"].form-control,
input[type="month"].form-control,
input[type="time"].form-control {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.form-group{
    position: relative;
    margin-bottom: 1.125rem;
    @media #{$breakpoint-md-desktop}{
        margin-bottom: .875rem;
    }
  
    label{
        text-transform: capitalize;
        margin-bottom: .6125rem;
        display: block;
        @include display-flex(flex);
        @include justify-content-start;
        @include align-items-center;
        i{
            margin-left: .5rem;
        }
        sup{
            color:$secondary-color;
        }
    }
    span{
        &.is-error{
            color:$red-color;
            margin-top:.5rem;
            display: none;
        }
    }
    .custom-select{
        p{
            &.selected-item{
                color: $body-color;
                background: $bg-color;
                span{
                    font-weight: 400;
                }
                &::after{
                    content: 'arrow_drop_down';
                }
            }
        }
        &:hover{
            p {
              &.selected-item {
                border-color: 1px solid transparent;
                background: darken($bg-color, 3%);
              }
            }
          }
        &.show-dropdown{
            p{
                &.selected-item{
                    border: 1px solid $yellow-color;
                    background: white;;
                    &::after{
                        content: 'arrow_drop_up';
                    }
                }
            }
        }
    }
    &.custom-form-group{
        &:last-child{
            margin-bottom: 0;
        }
        position: relative;
        width: 100%;
        .form-control{
            position: relative;
            cursor: pointer;
            background-color: $bg-color;
            outline: none;
            border: none;
            color: $heading-color;
            border-bottom: 1px solid $bg-color;
             border-radius: 0px;
           /*  ~label{
                transition: all 0.4s ease-in;
                color: $body-color;
                position: absolute; 
                left: 0;
                top: 6px; 
                margin-bottom: 0;
            }
            ~.border-span{
                position: absolute;
                bottom: 0;
                left: 0;
                width: 0;
                height: 1px;
                background-color: #7c7c7c;
                transition:all 0.5s linear;
            } */
            &:hover {
                background: darken($bg-color, 3%);
            }
            &:focus{
                color: $heading-color;
                box-shadow: none;
                outline: none;
                background: $white-color;
                border: 1px solid $yellow-color;
                /* ~label{
                    top: -6px; 
                    transform: translate(-12%, -50%) scale(0.8);
                    color: #bebebe;
                }
                ~.border-span{
                    width: 100%;
                    background-color: #bebebe;
                } */
            }
            &:valid{
                box-shadow: none;
                outline: none;
                /* ~label{
                    top: -10px; 
                    color: #7c7c7c; 
                    transform: translate(-12%, -50%) scale(0.8);
                }
                ~.border-span{
                    background-color: #7c7c7c;
                    width: 100%;
                } */
            }
        }
        .prefix{
            position: absolute;
            width: 3rem;
            font-size: 1.5rem;
            -webkit-transition: color .2s;
            transition: color .2s;
            top: .5rem;
            &~input, 
            &~label, 
            &~span.border-span{
                margin-left: 3rem;
            }
        }
        .btn{
            float: left;
            width: 2.5rem;
            height: 2.5rem;
            line-height: 2.5rem;
            text-decoration: none;
            color: #fff;
            background-color: #0055ff;
            text-align: center;
            letter-spacing: .5px;
            cursor: pointer;
            input[type=file] {
                position: absolute;
                top: 0;
                right: 0;
                left: 0;
                bottom: 0;
                width: 100%;
                margin: 0;
                padding: 0;
                cursor: pointer;
                -moz-opactiy: 0;
                opacity: 0;
                filter: alpha(opacity=0);
                z-index: 2;
            }
        }
        .file-path-wrapper {
            overflow: hidden;
            padding-left: 10px;
            input.file-path {
                width: 100%;
                cursor: pointer;
            }
        }
    }
    &.custom-file{
        position: relative;
        .custom-file-input {
            position: relative;
            z-index: 2;
            opacity: 0;
        }
        .custom-file-label {
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            z-index: 1;
            height: calc(1.5em + .75rem + 2px);
            padding: .375rem .75rem;
            font-weight: 400;
            line-height: 1.5;
            color: #495057;
            background-color: #fff;
            border: 1px solid #ced4da;
            border-radius: .25rem;
            &::after {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                z-index: 3;
                display: block;
                height: calc(1.5em + .75rem);
                padding: .375rem .75rem;
                line-height: 1.5;
                color: #495057;
                content: "Browse";
                background-color: #e9ecef;
                border-left: inherit;
                border-radius: 0 .25rem .25rem 0;
            }
        }
    }
    &.is-between{
        @include display-flex(flex);
        @include align-items-center;
        @include justify-content-between;
    }
    &.is-sm{
        label{
            font-size: .875rem;
            @media #{$breakpoint-md-desktop} {
                font-size: .685rem;
              }
        }
    }
}
.input-in{
    padding:.5rem;
    @include radius(5px);
    background-color: $bg-color;
    &:focus-within{
        background-color: $primary-light;
    }
}
textarea{
    &.form-control{
        min-height: 80px;
    }
}

.custom-input-group{
    @include display-flex(flex);
    @include justify-content-between;
    border:1px solid $border-color;
    @include radius(5px);
    @include align-items-stretch;
    background-color: $white-color;
    position: relative;
    input{
        flex-grow: 1;
        border:none;
        display: initial;
        background-color: $white-color;
        width: 100%;
    }
    span{
        &.span-group{
            padding:0 .5rem;
            padding-right:0;
            text-align:center;
            @include display-flex(flex);
            @include justify-content-center;
            @include align-items-center;
            @include flex-direction-column(column);
            cursor: pointer;
            i{
                font-size: 1.3rem;
            }
        }
    }
    &.custom-date{
        &::after {
            content: "arrow_drop_down";
            font-family: "Material Icons";
            position: absolute;
            right:0;
            top:50%;
            @include transform(translateY(-50%));
            font-size: 1.5rem;
            color: $heading-color;
            z-index: 99;
            pointer-events: none;
          }
          span{
            &.span-group{
                i{
                    color:$primary-color;
                }
            }
        }
    }
    &.is-bg{
        background-color: transparent;
        border:0;
        input{
            min-height: calc(2.5rem + .75rem + 2px);
        }
        span{
            &.span-group{
                padding:0 1rem;
                background-color: $heading-color;
                color:$white-color;
            }
        }
    }
}
.date-range{
    @include display-flex(flex);
    @include justify-content-between;
    @include radius(5px);
    @include align-items-stretch;
    background-color: $white-color;
    .custom-input-group{
        border:none;
        border-radius: none;
        border-right: 1px solid $border-color;
        input{
            min-width: auto;
            padding-left:.5rem;
        }
        
    }
}