.common-title{
    display: block;
    margin-bottom: 3rem;
    max-width: 970px;
    @media #{$breakpoint-md-desktop}{
        margin-bottom: 2rem;         
    }
    @media #{$breakpoint-lg}{
        @include flex-hr-center;
        text-align: center;
    }

    h2{
        font-weight: 400;
        font-family: $heading-fonts;
        color: $white-color;
        text-transform: capitalize;
        padding-left: 20px;
        position: relative;
        &::before{
            position: absolute;
            content: "";
            left: 0;
            top: 3px;
            height: 26px;
            width: 5px;
            background: $secondary-color;
            @include skewX(0deg);
        }
    }

    p{
        margin-top: 20px;
        color: $heading-color;
        @media #{$breakpoint-md-desktop}{
            margin-top: 15px;
        }
    }
    
    &.is-dark{
        h2{
            color: $heading-color;
            span{
                color: $primary-color;
            }
        }
    }
    &.is-center{
        @include flex-hr-center;
        text-align: center;
        max-width: 970px;
        margin:0 auto;
        margin-bottom: 3rem;
        @media #{$breakpoint-md-desktop} {
            max-width:690px;
            margin-bottom: 2rem;
        }
    }
}