.search-action{
    width: 300px;
    position: relative;
    margin: auto;   
    input {
        position: absolute;
        margin: auto;
        top: 0;
        right: -260px;
        bottom: 0;
        left: 0;
        width: 40px;
        height: 40px;
        outline: none;
        border: none;
        // background: crimson;
        color: white;
        text-shadow: 0 0 10px crimson;
        padding:0;
        border-radius: 30px;
        // box-shadow:0 20px 25px 0 rgba(0, 0, 0, 0.2);
        transition: all .6s;
        opacity: 0;
        z-index: 5;
        &:hover {
          cursor: pointer;
        }
        &:focus {
            right: 0;
            width: 300px;
            opacity: 1;
            cursor: text;
            padding: 0 80px 0 20px;
        }
        &:focus ~ .search {
          right: -260px;
          background: $primary-color;
          z-index: 6;
          &::before {
            top: 0;
            left: 0;
            width: 18px;
          }
          &::after {
            top: 0;
            left: 0;
            width: 18px;
            height: 2px;
            border: none;
            background: $white-color;
            border-radius: 0%;
            transform: rotate(-45deg);
          }
        }
        &::placeholder {
          color: $white-color;
          opacity: 0.5;
        }
      }
    .search{
        position: absolute;
        width: 40px;
        height: 40px;
        top: 0;
        bottom: 0;
        right: -260px;
        left: 0;
        @include transition(all 1s);
        margin: auto;
        box-shadow: 0 0 25px 0 rgba($black-color, 0.4);
        @include radius(50%);
        z-index: 4;
        &::before {
            content: "";
            position: absolute;
            margin: auto;
            top: 11px;
            right: 0;
            bottom: 0;
            left: 13px;
            width: 8px;
            height: 2px;
            background: $white-color;
            transform: rotate(45deg);
            transition: all .5s;
          }
          &::after {
            content: "";
            position: absolute;
            margin: auto;
            top: -6px;
            right: 0;
            bottom: 0;
            left: -3px;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            border: 2px solid $white-color;
            transition: all .5s;
          }
    }
}