@import "banner";
@import "slider-list";
@import "color-legend";
@import "filter";
.section{
    padding: 80px 0;
    position: relative;
    @media #{$breakpoint-md-desktop}{
        padding: 60px 0;
     }
    &.is-light{
        background: $site-color-light;
    }
    &.is-white{
        background-color: $white-color;
    }
    &.is-bg{
        background-color: $bg-color;
    }
    .section-shape{
        position: absolute;
        img{
            width: 100%;
            @media #{$breakpoint-xs}{
                display: none;
             }
        }
        &.is-opacity{
            opacity: .5;
        }
        &.is-top-right{
            top: 0;
            right: 0;
        }
        &.is-bottom-right{
            bottom:0;
            right:0;
        }
        &.is-top-left{
            top:0;
            left:0;
        }
        &.is-bottom-left{
            bottom:100px;
            left:0;
        }
        &.is-middle-left{
            left:0;
            top:50%;
            @include transform(translatey(-50%));
        }
    }
}
