.pagination{
    display: flex;
    align-items: center;
    .page-item{
        &:first-child {
            .page-link {
                margin-left: 0;
                border-top-left-radius: 5px;
                border-bottom-left-radius: 5px;
            }
        }
        .page-link{
            position: relative;
            display: block;
            padding: .5rem .75rem;
            margin-left: -1px;
            line-height: 1.25;
            color: #007bff;
            background-color: #fff;
            border: 1px solid #dee2e6;
            transition: all .4s ease;
            &:hover,
            &.active{
                background: #738DFF;
                color: white;
            }
        }
        &:last-child {
            .page-link {
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
            }
        }
    }
}